.container {
  width: 83%;
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .contentArea {
    width: 74%;
    .blogList {
      width: 100%;
    }
    .blogContent {
      width: 100%;
      margin-top: 20px;
    }
  }
  .right {
    width: 20%;
    min-height: 120px;
    height: auto;
    .personalCard {
      width: 100%;
      height: 330px;
      // margin-top: 20px;
      margin-top: -18px;
    }
    .catalogCard {
      width: 100%;
      height: 330px;
      margin-top: 50px;
    }
  }
}
.page {
  width: 50%;
  margin: 30px auto;
}
