.catalog {
  width: 100%;
  height: 100%;
  min-height: 300px;
  height: auto;
  .header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .catalogArea {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
  }
}
