.el-menu-demo {
  .menuItem {
    width: 100px;
  }
  .ios-home {
    margin-top: -3px;
    padding-right: 3px;
  }
  .md-apps {
    padding-right: 3px;
    margin-top: 0.5px;
  }
  .md-pricetags {
    padding-right: 6px;
    margin-top: 0.5px;
  }
}
.el-menu-demo:nth-child(1) {
  margin-left: 10%;
}
