.personalInfoCard {
  width: 100%;
  height: 100%;
  margin-top: 39px;
  .avatarArea {
    width: 125px;
    height: 130px;
    margin: 10px auto;
    border: 1px solid #e0e0e0;
    .image {
      width: 115px;
      height: 120px;
      margin: 5px auto;
    }
  }
  .name {
    width: 50%;
    height: 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 15px;
    font-weight: 700;
  }
  .motto {
    width: 50%;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    color: gray;
    font-size: 13px;
    line-height: 30px;
  }
  .Info {
    width: 58%;
    height: 45px;
    display: flex;
    margin: 14px auto;
    .log {
      width: 32%;
      height: 100%;
      text-align: center;
      line-height: 24px;
      border-right: 1px solid gray;
    }
    .kind {
      width: 32%;
      height: 100%;
      line-height: 24px;
      text-align: center;
      border-right: 1px solid gray;
    }
    .label {
      width: 32%;
      height: 100%;
      line-height: 24px;
      text-align: center;
    }
  }
  .logoGroup {
    width: 44%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 23px auto;
  }
}
